@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 设置版心 */
.w {
  width: 1000px;
  margin: 0 auto;
}

header {
  height: 75px;
  background-color: #fff;
  border: 3px solid #d0d0d0;
}

header .logo {
  float: left;
  margin-right: 65px;
}

header .logo a {
  display: inline-block;
  width: 135px;
  height: 74px;
  background: url(../img/logonew.png) no-repeat 0 10px;
  background-size: contain;
  text-indent: -99999em;
}

header ul {
  float: left;
  margin-top: 33px;
}

header ul li {
  float: left;
  margin-right: 50px;
}

header ul li a {
  color: #332f30;
  font-size: 20px;
}

header ul li .current {
  color: #f92929;
}

header .regist {
  float: right;
  margin-top: 20px;
  border: 1px solid #fa553f;
  border-radius: 3px;
}

header .regist a {
  color: #fa553f;
  line-height: 30px;
  padding: 0 10px;
}

header .search-h {
  float: right;
  width: 24px;
  height: 26px;
  margin-top: 26px;
  margin-right: 33px;
  background: url(./img/search.png) no-repeat;
}

footer {
  position: relative;
  height: 360px;
  padding-top: 40px;
  background-color: #505050;
}

footer .qr {
  float: left;
  margin-right: 20px;
  border-radius: 3px;
}

footer .qr img {
  width: 160px;
  height: 160px;
}

footer .logo-f {
  float: left;
  width: 132px;
  margin-right: 24px;
  line-height: 20px;
  font-size: 12px;
  color: #888;
}

footer .logo-f img {
  margin-bottom: 24px;
}

footer .logo-f .p-b {
  margin-bottom: 8px;
}

footer dl {
  float: left;
  font-size: 12px;
  margin-right: 24px;
}

footer dl dt {
  line-height: 23px;
  color: #ebeddf;
  margin-bottom: 24px;
  font-size: 16px;
}

footer dl dd {
  line-height: 20px;
  color: #888;
}

footer .first-dl {
  width: 96px;
}

footer .second-dl {
  width: 147px;
}

footer .second-dl dd {
  float: left;
}

footer .second-dl dd:nth-of-type(odd) {
  width: 54px;
  margin-right: 16px;
}

footer .three-dl {
  width: 147px;
}

footer .copyright {
  position: absolute;
  bottom: 18px;
  left: 50%;
  color: #888;
  font-size: 12px;
  transform: translateX(-50%);
}

.title {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  margin: 48px 0;
}

.sort {
  text-align: center;
}

.sort div {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 0 64px 14px;
  border-bottom: 4px solid transparent;
  color: #a4abb1;
}

.sort .current {
  color: #fd5238;
  border-color: #fd5238;
}
