<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/kuwa pins 4 page.min.css">
    <link rel="stylesheet" href="./css/common.min.css">
    <link rel="stylesheet" href="./css/index.min.css">
    <link rel="stylesheet" href="./css/help.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/index.js"></script>
</head>

<body>
    <header>
        <div class="w">
            <div class="logo">
                <h1>
                    <a href="./index.html">极果</a>
                </h1>
            </div>

            <ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./kuwan news 2 page.html" class="current">酷玩</a></li>
                <li><a href="./help.html">导购</a></li>
                <li><a href="./use.html">试用</a></li>
                <li><a href="./Business cooperation 17 page.html">报告</a></li>
            </ul>

            <div class="regist">
                <a href="./register 16page.html">注册</a>
            </div>
            <div class="search-h"></div>
        </div>
    </header>
    <div class="top">
        <p>发现酷玩</p>
        <a href="./kuwan news 2 page.html">最新</a>
        <a href="./kuwan hots 3 page.html">最热</a>
        <a href="./kuwan pins 4 page.html">品类</a>
    </div>
    <div class="demo">
        <div class="all">
        </div>
    </div>
    <footer>
        <div class="w">
            <div class="qr"><img src="./img/code.png" alt=""></div>
            <div class="logo-f">
                <img src="./img/logoImg.jpg" alt="">
                <p>全球酷玩试用导购平台</p>
                <p class="p-b">酷·新奇·好玩·品质</p>
                <p>微信添加 "JguoJguo"</p>
                <p>获取我们的服务</p>
            </div>

            <dl class="first-dl">
                <dt>免费试用</dt>
                <dd>试用流程</dd>
                <dd>如何提高成功率</dd>
            </dl>

            <dl class="second-dl">
                <dt>友情链接</dt>
                <dd>智东西</dd>
                <dd>WEIBUSI</dd>
                <dd>搜狐IT</dd>
                <dd>腾讯科技</dd>
                <dd>搜狐数码</dd>
                <dd>凤凰科技</dd>
                <dd>凤凰数码</dd>
                <dd>PConline</dd>
                <dd>泡泡网</dd>
                <dd>3W咖啡</dd>
                <dd>ZUK社区</dd>
                <dd>亿觅emie</dd>
                <dd>极客公园</dd>
                <dd>易迅易起玩</dd>
                <dd>果库</dd>
            </dl>

            <dl class="three-dl">
                <dt>购买攻略</dt>
                <dd>美亚海淘教程</dd>
                <dd>日亚海淘教程</dd>
                <dd>海淘转运攻略</dd>
                <dd>kickstarter 众筹购买攻略</dd>
                <dd>indiegogo 众筹购买攻略</dd>
            </dl>

            <dl class="four-dl">
                <dt>厂商合作</dt>
                <dd>关于极果</dd>
                <dd>联系我们</dd>
                <dd>商务合作:BD@jiguo.com</dd>
                <dd>CEO邮箱:CEO@jiguo.com</dd>
            </dl>
        </div>

        <div class="copyright">
            © 2016 极果版权所有
        </div>
    </footer>
    <script src="./js/template-web.js"></script>
    <script id="art_category" type="textml">
        <% for(var i = 0;i<value.length;i++) { %>
                <div class="floor">
                    <p class="title"><%= value[i].title %></p>
                    <div class="center">
                        <div class="every">
                            <div><img src="./img/cat_1.png" alt=""></div>
                            <div>电动牙刷(<span>21</span>)</div>
                        </div>
                        <div class="every">
                            <div><img src="./img/cat_2.png" alt=""></div>
                            <div>电动牙刷(<span>21</span>)</div>
                        </div>
                        <div class="every">
                            <div><img src="./img/cat_3.png" alt=""></div>
                            <div>电动牙刷(<span>21</span>)</div>
                        </div>
                        <div class="every">
                            <div><img src="./img/cat_4.png" alt=""></div>
                            <div>电动牙刷(<span>21</span>)</div>
                        </div>
                    </div>
                    <div class="foot">
                        <% for(var j=0;j<value[i].list.length;j++) { %>
                            <div><%= value[i].list[j].productName %>(<span><%= value[i].list[j].nums %></span>)</div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </script>
    <script>
        var oajax = new XMLHttpRequest() || new ActiveXObject('Microsoft.XMLHTTP');
        oajax.open('get', 'http://192.168.1.62:3000/data/play_category.json', true);
        oajax.send();
        oajax.onreadystatechange = function () {
            if (oajax.readyState == 4) {
                if (oajax.status == 200) {
                    var res = JSON.parse(oajax.responseText);
                    render_html(res);
                }
            }
        }

        function render_html(res) {
            var html = template('art_category', {
                value: res
            });
            document.getElementsByClassName('all')[0].innerHTML = html;
        }
    </script>
</body>

</html>